<div id="main-content" class="card">
  <header>
    <h1 id="fxa-pair-header">
      Scan the QR code

      {{#serviceName}}
        <!-- L10N: For languages structured like English, the second phrase can read "to continue to %(serviceName)s" -->
        {{ headerSignInText }} <span class="service">{{#t}}Continue to %(serviceName)s{{/t}}</span>
      {{/serviceName}}
      {{^serviceName}}
        {{ headerSignInText }}
      {{/serviceName}}
    </h1>
  </header>

  <section>
    <div id="qrcode-reader"></div>
  </section>
</div>
